*{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}

html,body{
   height:100%;
   width:100%;
}
.containar{
    margin: 10px;
    position: relative;
}
.box{
    background-color: aqua;
    position: absolute;
    height: 100px;
    width: 200px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-delay: 3s; */
    /* animation-direction: alternate; */
    
}

@keyframes move {
    0%{
      background-color: rgb(113, 80, 144);
      top: 10px;
      left: 10px;
   }
   
   25%{
      background-color: burlywood;
      top: 10px;
      left: 1300px;
   }
    
   50%{
      background-color: rgb(19, 21, 136);
      top: 600px;
      left: 1300px;
   }

   75%{
      background-color: rgb(6, 168, 19);
      top: 600px;
      left: 10px;
   }

   100%{
      background-color: rgb(255, 0, 38);
      top: 10px;
      left: 10px;
   }
}