*{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}

html,body{
   height:100%;
   width:100%;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
   height: 200px;
   width: 800px;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: repeat(4,1fr);
   gap: 5px;
}
.box{
   background-color: aqua;
}
img{
   height: 100%;
   width: 100%;
}

@media screen and (max-width:900px) {
   .container{
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      height: 300px;
      width: 300px;
   }
   
}

@media screen and (max-width:500px) {
   .container{
      grid-template-rows: repeat(4,1fr);
      grid-template-columns: 1fr;
      height: 400px;
      width: 400px;
   }
   
}